body{
  background-image:url("https://i2.wp.com/i.pinimg.com/originals/59/cd/f6/59cdf682bccca3a7623848179beb5fce.jpg");
  background-size:cover;
  text-align:center;

font-size:20px;
  color:black;
}
#p1{
    font-size: 65px;
    color: black;
    font-family: 'Tangerine', cursive;
}
#para1{
    font-size: 50px;
    color: black;
    font-family: 'Festive', cursive;
}
#p2{
    font-size: 70px;
    color: black;
   font-family: 'Tangerine', cursive;
}


img{
    width: 500px;
    height: 450px;
}
button{
    width: 200px;
    height: 50px;
    background-color: red;
    font-size: 30px;
}
h1{
    font-family: 'WindSong', cursive;
    font-size: 65px;
}
h2{
    font-family: 'Allura', cursive;
    font-size: 50px;
}